@model IEnumerable<FishingTournament02.Models.Events>


<p><a asp-controller="Admin" asp-action="AddEvent">Add an event</a></p>


@{
    if (Model.Count() < 1)
    {
        <p>No events in database yet.</p>
    }
    else
    {
        <h3>All Events</h3>
        <div class="table-responsive">
            <table border="1" class="table table-striped table-hover">

                <tr>
                    <th>Event Name</th>
                    <th>Event Address</th>
                    <th>Event City</th>
                    <th>Event State</th>
                    <th>Event ZipCode</th>
                    <th>Event Phone</th>
                    <th>Event Capacity</th>
                    <th>Event URL</th>
                    <th>Event Cost</th>
                    <th>Participants</th>

                </tr>
                @foreach (var events in Model)
                {
            <tr>
                <td>@events.EventName</td>
                <td>@events.EventAddress</td>
                <td>@events.EventCity</td>
                <td>@events.EventState</td>
                <td>@events.EventZipCode</td>
                <td>@events.EventPhone</td>
                <td>@events.EventCapacity</td>
                <td><a href="http://@events.EventURL" target="_blank">@events.EventURL</a></td>
                <td>@events.EventCost</td>
                <td>
                    <a align="left" asp-controller="Admin" asp-action="AllParticipant" asp-route-id="@events.EventID">View</a>
                    <a align="right" asp-controller="Admin" asp-action="AddParticipant" asp-route-id="@events.EventID">Add</a>
                </td>

            </tr>
                }
            </table>
        </div>
    }
}
<p><a asp-controller="Admin" asp-action="Index">Back to Home</a></p>

